@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
/*
--------------------------------------------------------------
Navbar
-------------------------------------------------------------- */
ul#mainNav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1100;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-weight: bold;
}

.navbar-brand {
  width: 101px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(//www.df2haven.com/images/haven-logo-120h.png);
  margin-left: 12px;
  margin-right: 0;
}
.nav-main > li > a, .dropdown-item > a {
  color: rgba(255, 255, 255, 0.8);
}
.nav-main > li > a {
  padding: 1px 0 0;
  height: 100%;
  display: block;
  position: relative;
}

.nav-main a:active,
.nav-main a.active,
.nav-main a:focus {
  color: #c0924f;
}

.nav-main .login a:active span {
  color: #FF9800;
}

.nav-main > li > a > span,
.nav-main > li > div.header-profile > a > span {
  vertical-align: top;
  font-weight: bold;
  font-size: 0.84rem;
  line-height: 2.1;
}

.bg-nav {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bg-nav.shrink {
  background-color: #111 !important;
  border-bottom: 1px solid #222;
  /*box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);*/
}

.shrink {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.shrink.navbar-wide {
  padding-left: 0;
  padding-right: 0;
}

#navBG {
  position: relative;
  z-index: 1000;
  padding: 0 !important;
  background-color: inherit;
}

#hide_nav {
  position: relative;
  margin: auto;
  top: 39px;
  height: 10px;
  font-size: 10px;
  line-height: 8px;
  width: 32px;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(173, 181, 189, 0.5);
  color: #ccc;
  padding: 0 0.5rem;
  border-bottom-left-radius: 0.14rem;
  border-bottom-right-radius: 0.14rem;
  cursor: pointer;
  opacity: 0;
  transition: top 0.5s linear 0.3s, opacity 0.1s ease-in 0.8s;
  z-index: 0;
}

#hide_nav.slide-out {
  top: 50px;
  opacity: 1;
  transition: top 0.5s ease-out 0s, opacity 0.1s ease-in 0.1s;
}

.slide-up>#hide_nav {
  top: 0;
  opacity: 1;
}

#mainNav.slide-up {
  margin-top: -50px;
  transition: margin-top 0.5s ease-out 0s;
}

#navBG.slide-up {
  height: 0;
  transition: height 0.5s ease-out 0s;
}

#navBG,
#mainNav {
  transition: margin-top 0.5s ease-out 0s, height 0.5s ease-out 0s;
  height: 50px;
}

.no-transition {
  transition: unset !important;
}

.leftside.active .icon {
  display: none;
}

.leftside.active .fa-angle-right {
  width: 0.9em;
}

.leftside.active span {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif, Arial, Helvetica;
  font-weight: 200;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.7;
}

.fa-haven-shield {
  filter: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-haven-shield:before {
  content: "\f132";
}

.fa-outer {
  text-align: center;
  letter-spacing: 0;
  /*transform: scale(1.2);*/
}

.text-blue {
  color: #2196f3 !important;
}

/* Horizontal lists
----------------------------------------*/
ul.linklist {
  display: block;
  margin: 0;
}

ul.linklist > li {
  float: left;
  font-size: 0.85rem;
  line-height: 2;
  list-style-type: none;
  margin-right: 12px;
  width: auto;
  height: 30px;
}

ul.linklist > li.search-box.search-header {
  margin-right: 0;
}

ul.linklist > li.rightside,
p.rightside,
a.rightside {
  float: right;
  text-align: right;
}

ul.linklist > li.rightside {
  position: relative;
}

ul.leftside {
  float: left;
  margin-left: 0;
  margin-right: 5px;
  text-align: left;
}

ul.rightside {
  float: right;
  margin-left: 5px;
  margin-right: -5px;
  text-align: right;
}

ul.linklist li.responsive-menu {
  position: relative;
  margin-right: -10px;
}

.responsive-menu a {
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-main .login span {
  color: #ffdeae;
}

ul.linklist li.rightside.separator {
  border-left: 1px solid #222;
  margin-top: -10px;
  margin-bottom: -10px;
  height: 50px;
}

/* Avatar 
  ----------------------------------------*/
.header-profile {
  display: inline-block;
  vertical-align: top;
}

a.header-avatar,
a.header-avatar:hover {
  text-decoration: none;
}

a.header-avatar img {
  margin-bottom: 3px;
  max-height: 25px;
  vertical-align: middle;
  width: auto;
}

a.header-avatar span:after {
  content: "\f0dd";
  display: inline-block;
  font: normal normal normal 14px/1 ForkAwesome;
  padding-left: 4px;
  padding-top: 3px;
  vertical-align: top;
}

/* General Dropdowns
----------------------------------------*/
.nav-main .dropdown-menu {
  border-radius: 0;
  border: 0;
}

.nav-main .dropdown-contents {
  z-index: 2;
  overflow: hidden;
  overflow-y: auto;
  padding: 6px 0;
  position: relative;
  min-width: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #292929;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 9px 3px;
}

.nav-main .dropdown-contents li {
  display: list-item;
  clear: both;
  color: #fff;
  font-size: 0.8rem;
  list-style: none;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #292929;
}

.dropdown-contents a {
  display: block;
}

.nav-main .dropdown-contents li > a {
  line-height: 2;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-weight: bold;
  padding: 6px 30px 6px 15px;
}

/* Paypal 
------------------------------------------ */
.nav-main .dropdown-contents li.paypal {
  padding: 7px 12px 0 10px;
  background: #82d6ff;
  color: #0f3652;
}

.nav-main .dropdown-contents li.paypal > div:first-of-type {
  margin-left: auto;
  margin-right: 14px;
}

.nav-main .dropdown-contents a > span {
  vertical-align: text-bottom;
  line-height: 1.3;
  margin-left: 2px;
}


/* Dropdown extended
------------------------------------------ */
.dropdown-extended .dropdown-contents {
  padding: 0;
  position: absolute;
  width: 340px;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  clear: both;
}

.dropdown-extended .notification-list {
  width: 370px;
}

.nav-main .dropdown-extended .header,
.nav-main .dropdown-extended .footer {
  color: #fff;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-weight: bold;
}

.nav-main .dropdown-extended .header {
  background-color: #444;
  padding: 0 10px 0 15px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  line-height: 2.8rem;
  font-size: 0.95rem;
}

.nav-main .dropdown-extended .header:after {
  content: "";
  display: table;
  clear: both;
}

.nav-main .dropdown-extended .header .header_settings {
  float: right;
  font-weight: normal;
  text-transform: none;
}

.nav-main .dropdown-extended li.no_notifications {
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  padding: 20px 0;
  position: relative;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: bottom;
  line-height: 6 !important;
  z-index: 0;
  pointer-events: none;
  text-align: center;
}

.nav-main .dropdown-extended li.no_notifications:before {
  font: normal normal normal 14px/1 ForkAwesome;
  content: "\f11a";
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  color: rgba(255, 255, 255, 0.05);
  line-height: 0;
  z-index: -1;
}

.dropdown-extended ul li:first-child {
  border-top: none;
}

.dropdown li.separator {
  border-top: 1px solid #343434;
  margin: 5px 0;
  padding: 0;
}

.nav-main .dropdown-contents a:hover,
.nav-main .dropdown-contents a:active .nav-main .dropdown-contents a:focus {
  color: white;
  background-color: #444;
}

.dropdown-extended .header .header_settings a {
  display: inline-block;
  padding: 0 5px;
}

/* Notifications 
  ----------------------------------------*/
.notification-list .header_settings a {
  color: #aaa;
  background: transparent !important;
}

.notification-list .header_settings i {
  font-size: 1.3rem;
  vertical-align: middle;
  line-height: 0.5;
}

.notification-list li > a.notification-block {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 16px 15px;
}

.notification-list ul li img {
  float: left;
  max-height: 50px;
  max-width: 50px;
  width: auto !important;
  height: auto !important;
  margin-right: 5px;
}

.notification-list p {
  margin-bottom: 4px;
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.notification-list div.notifications {
  margin-left: 50px;
  padding: 5px;
}

.notification-list div.notifications a {
  display: block;
}

.notification-list p.notification-title,
.notification-list p.notification-reference,
.notification-list p.notification-location,
.notification-list p.notification-reason,
.notification-list p.notification-footer {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif, Arial, Helvetica;
  white-space: normal;
}

.notification-list p.notification-title {
  font-weight: bold;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
}

.notification-list p.notification-reference {
  font-weight: bold;
  color: #fff;
}

.notification-list .unread a {
  background-color: #303030;
}

a[data-notification-id="patreon"] {
  background-color: #303030;
}

.notification > .no-link {
  cursor: unset;
}

.notification-list p.notification-footer {
  font-size: 0.7rem !important;
  margin: 0;
  padding: 6px 0 0;
  text-align: right;
  color: #777;
  line-height: 1;
}

.nav-main .notification-list.dropdown-contents a.notification-block:hover,
.nav-main .notification-list.dropdown-contents a.notification-block:focus {
  background-color: #2d2d2d;
}

.notification-list .notification-avatar img,
.notification-list .notification-avatar i.fa {
  float: left;
  margin-right: 10px;
  vertical-align: middle;
  border: 0;
}

.notification-list .notification-avatar img {
  max-height: 50px;
  max-width: 50px;
  width: auto !important;
  height: auto !important;
}

.notification-list .notification-avatar i.fa {
  font-size: 2.5rem;
  width: 50px;
  height: 50px;
  color: #999;
  text-align: center;
  padding-top: 3px;
}

.notification-list .notification-avatar .fa-haven-shield {
  font-size: 3.1rem;
  letter-spacing: 0;
}

.notification-list p.notification-title {
  color: #aaa;
}
/* Notification Badge 
  ----------------------------------------*/
.navbar-badge {
  border-radius: 50%;
  opacity: 1;
  font-size: 9px;
  position: absolute;
  top: 0;
  left: 8px;
  height: 14px;
  width: 14px;
  padding: 0;
  line-height: 15px;
  margin: 0;
  float: unset;
  font-weight: bold;
  background-color: #e74c3c;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

.navbar-counter {
  display: none;
}

.navbar-counter.navbar-badge {
  display: inline-block;
}

/* Icons
----------------------------------------*/
.icon {
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: ForkAwesome;
  font-size: 1rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #889eb3;
}

.nav-main a > i.icon {
  font-size: 1.3em;
  line-height: 1.5;
  height: 100%;
}

.nav-main .responsive-search a > i.fa-search {
  font-size: 1.38em;
  line-height: 1.4;
}

.nav-main > li > a > i.fa-inbox {
  font-size: 1.6em;
  line-height: 1.2;
  width: 25px;
}

.nav-main > li > a > i.fa-key-modern {
  width: 1.3em;
  font-size: 1.24em;
  line-height: 1.6;
}

.nav-main > li > a > i.fa-map-signs {
  font-size: 1.32em;
}

.nav-main > li > a > i.fa-sign-in {
  color: #ffb009;
  font-size: 1.7em;
  width: 1.05em;
  text-align: left;
  line-height: 1.2;
}

.nav-main > li > a > i.fa-user-plus {
  color: #ffb009;
  line-height: 1.3;
  font-size: 1.4em;
  width: 21px;
}

.nav-main > li > a > i.fa-user-circle-o {
  font-size: 1.4em;
  text-align: right;
  line-height: 1.4;
  width: 1.1em;
}

.nav-main > li > a > i.fa-bell {
  width: 1.25em;
  margin: 0 2px 0 -2px;
  font-size: 1.38em;
  line-height: 1.5;
}

.nav-main > li > a > i.fa-line-chart,
.nav-main > li > a > i.fa-users {
  width: 1.5em;
}

/* Top Contributor List
  ----------------------------------------*/

.ranking-card {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif, Arial, Helvetica;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #292929;
}

.ranking-card h5 {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  background-color: #3498db;
  background-image: linear-gradient(-45deg, transparent, rgba(86, 100, 181, 0.6), #5664b5);
  padding: 0.5rem 0.7rem;
  margin-bottom: 0;
  width: 100%;
  min-height: 1px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.ranking-card .ranking-list {
  padding: 0 0 0.4rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.ranking-card .ranking-list > li {
  text-align: left;
  color: #ccc;
  font-size: 0.84rem;
  font-weight: normal;
  line-height: 1.5;
  padding: 0 1rem;
}

.ranking-list li:first-child {
  padding: 0.2rem 1rem 0.1rem;
  background-color: #35384c;
  color: #bcc0f7;
  font-size: 0.8rem;
  font-family: inherit;
  margin-bottom: 0.3rem !important;
}

.ranking-card h5 > span {
  margin-left: 0.5rem;
}

.ranking-card h5:last-of-type {
  background-color: #4fb1fa;
}

.ranking-list span.top-name {
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.2;
  float: left;
}

.ranking-list span.top-val {
  color: #888;
  font-size: .8rem;
  line-height: 1.2;
  float: right;
}

.ranking-card .subtext {
  font-size: 0.7rem;
  padding: 0 1rem;
  color: #999;
  margin-bottom: 0;
  text-align: right;
  width: 100%;
  background-color: #333;
}

.ranking-card .fa-heart {
  color: #e74c3d;
}

.ranking-card .fa-trophy {
  color: #ffc107;
}

.ranking-card .fa-star {
  color: #ffeb3b;
}


/* Responsive stuff
  ----------------------------------------*/
.hidden {
  display: none !important;
}

.nav-main.compact #username_logged_in > .header-profile > a > span {
  display: none !important;
}

@media (max-width: 1079px) {
  [data-responsive="true"] .responsive-hide {
    display: none;
  }
}

@media (max-width: 720px) {
  .responsive-hide {
    display: none;
  }

  .nav-main > li > a:not(.navbar-brand) {
    font-size: 1rem;
    padding: 0;
    margin-top: -1px;
  }

  .navbar-badge {
    top: 2px;
    left: 14px;
  }
  .nav-main > li > a > span {
    line-height: 2.4;
    font-size: 0.9rem;
  }

  .nav-main > li > a > i.fa-bell {
    margin: 0;
  }

  .nav-main .dropdown-item a {
    font-size: 0.9rem;
  }

  .nav-main > li > a > i.fa-bell,
  .nav-main > li > a > i.fa-users {
    line-height: 1.5;
  }

  ul.linklist > li {
    margin-right: 10px;
  }  

  .navbar-brand {
    width: 100px;
    background-image: url(//www.df2haven.com/images/haven-logo-80h.png);
    margin-left: 8px;
  }
}

/* mobile phones
-------------------------------*/
@media (max-width: 479px) {
  .dropdown-extended .dropdown-contents {
    width: 100vw;
    top: 48px!important;
    bottom: 0;
    position: fixed!important;
    transform: unset!important;
    background-color: rgba(0,0,0,.9);
  }

  ul.linklist > li {
    margin-right: 8px;
  }  

  .nav-main .login > #login > span {
    display: none;
  }
}  

#paypal-button-container {
  width: 150px;
  height: 33px;
}
